// Color variables
$color-primary: #ffcc00;
$color-strong: #ff7d00;
$color-text: #333333;
$color-text-second: #666666;
$color-text-thd: #999999;
$color-assist: #cacaca;
$color-disabled: #dcdcdc;
$color-border: #eeeeee;
$color-bg: #fbfbfb;
$color-linear: linear-gradient(to right, #FFB014, #FFC900);
$color-linear-dark: linear-gradient(to right, #FF9500, #FFC36A);

// 字号
$fs-mini: 24rpx;
$fs-small: 26rpx;
$fs-normal: 28rpx;
$fs-large: 30rpx;
$fs-larger: 32rpx;
$fs-large-x: 34rpx;
